name: Build and Release on Push

# https://docs.github.com/en/actions/reference/events-that-trigger-workflows
on:
  push:
    branches:
      - main

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    # Install all the dependencies
    - name: Install dependencies
      run: |
        go version
        go get -u golang.org/x/lint/golint

    - name: Build
      run: go build -v ./...

    # Run vet & lint on the code
    - name: Run vet & lint
      run: |
        go vet ./...
        golint ./...

    - name: Test
      run: go test -v ./...

    - name: Build and Push Docker Image
    uses: mr-smithers-excellent/docker-build-push@v5
    with:
      image: ads-cert-app
      registry: ghcr.io
      username: ${{ secrets.GHCR_USERNAME }}
      password: ${{ secrets.GHCR_TOKEN }}
  Release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Create release and push tag
        # If triggered on your default branch (main), the bump version will be a release tag.
        # If triggered on any other branch, a prerelease will be generated, depending on the bump,
        # starting with *-<PRERELEASE_SUFFIX>.1, *-<PRERELEASE_SUFFIX>.2, ...
        # If no #major, #minor or #patch tag is contained in the commit messages, it will bump whichever DEFAULT_BUMP is set to (which is minor by default).
        # Disable this by setting DEFAULT_BUMP to none.
        # more info about this action on github marketplace: https://github.com/marketplace/actions/github-tag-bump
        uses: anothrNick/github-tag-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
